/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */

@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';
@import "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    /*
    font-size: 14px;
    font-family: Calibri;
    font-weight: 100;
    background-color: #bcbec0;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 25%);
    background-size: 4px 4px;
    */
}

#App {
    height: 100%;
}

html, body, #AppBorderContainer {
    width: 100%; 
    height: 100%;
    border: 0; 
    padding: 0; 
    margin: 0;
    border-style: none;
    border-width: 0px;
}

.claro .BorderHeader {
    border: none;
}

.claro .BorderCenter {
    border: none;
}

.claro .BorderFooter {
    border: none;
}

